# macOS
.DS_Store

# Text file backups
**/*.rs.bk

# Build results
target/

# IDEs
.vscode/
*.code-workspace
.idea/
*.iml

# Auto-gen
.cargo-ok

# Build artifacts
*.wasm
hash.txt
contracts.txt
artifacts/

# code coverage
tarpaulin-report.*

# Schema files
schema/

# Typescript
/package-lock.json
lib
dist
tmp
node_modules
tsconfig.tsbuildinfo
.turbo