# macOS
.DS_Store

# Text file backups
**/*.rs.bk

# Build results
target/

# IDEs
.vscode/
.idea/
*.iml

# Auto-gen
.cargo-ok

# Build artifacts
*.wasm
hash.txt
contracts.txt
artifacts/

# code coverage
tarpaulin-report.*

node_modules/
build/

# Schema files
*/schema/raw/*

# Typescript
*-debug.log
*-error.log
/.nyc_output
/package-lock.json
dist
tmp
node_modules
oclif.manifest.json
lerna-debug.log
tsconfig.tsbuildinfo